body {
    height:100%;
    width:100%;
}

header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(89, 255, 47);
}

header img {
    position: relative;
    justify-content: center;
    left: 28rem; 
}

header h1 {
    position: relative;
    font: 2.5rem white;
    padding: 10px;
    font-weight: bold;
    color: white;
    left:25rem;
}

.basic{
    display:flex;
    position:relative;
    justify-content: center;

}

.elements{
    display:flex;
    position:relative;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}

.subelement{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:40%;
    width:60%;
    border: 0.2rem solid black;
    padding:0.3rem;
    border-radius: 0.5rem;

}

.subelement_1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:40%;
    width:60%;
    padding:0.3rem;
    border-radius: 0.5rem;
}

p {
    border: 1px solid black;
    margin: 10px;
    color: red;
}